<div class="body bg-black text-white h-full">
  <div class="containerr flex container mx-auto">
    <div class="left md:w-[70%] w-14">
      <div class="logo invert md:my-4 md:pr-[88px] sticky top-4">
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-rxcuwo r-1777fci r-m327ed r-494qqr w-7 m-auto mt-4 md:mt-0">
          <g>
            <path
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
            ></path>
          </g>
        </svg>
      </div>

      <div class="sidebar flex md:justify-end justify-center mt-4 sticky top-[60px]">
        <ul
          class="flex flex-col text-xl text-slate-200 md:space-y-[6px] md:px-11 md:w-4/5"
        >
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl fill-white">home</i>
            <span class="font-bold hidden md:block">Home</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">search</i>
            <span class="hidden md:block">Explore</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">notifications</i>
            <span class="hidden md:block">Notifications</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">mail</i>
            <span class="hidden md:block">Messages</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl"
              >indeterminate_check_box</i
            >
            <span class="hidden md:block">Grok</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">article</i>
            <span class="hidden md:block">Lists</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">bookmark</i>
            <span class="hidden md:block">Bookmarks</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">group</i>
            <span class="hidden md:block">Communities</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">workspace_premium</i>
            <span class="hidden md:block">Premium</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">person</i>
            <span class="hidden md:block">Profile</span>
          </li>
          <li
            class="flex justify-start items-center gap-5 hover:bg-gray-900 hover:cursor-pointer hover:rounded-full w-fit px-4 pr-5 py-1"
          >
            <i class="material-symbols-outlined text-3xl">pending</i>
            <span class="hidden md:block">More</span>
          </li>
        </ul>
      </div>

      <div class="post-btn flex md:justify-end justify-center md:px-10 py-3 sticky md:top-[605px] top-[3/4]">
        <button
          class="bg-[#1D9BF0] hover:bg-[#1A8CD8] transition-all duration-300 px-24 py-3 rounded-full text-lg text-slate-200 font-bold hidden md:block">
          Post
        </button>
        <button
          class="bg-[#1D9BF0] hover:bg-[#1A8CD8] transition-all duration-300 px-1 py-1 rounded-full text-lg text-slate-200 font-bold md:hidden flex">
          <span class="material-symbols-outlined w-6 items-center">add</span>
        </button>
      </div>

      <div id="profile" class="mt-3 sticky top-[692px]">
        <div
          id="profile-item"
          class="flex items-center justify-end space-x-8 cursor-pointer hover:bg-gray-900 hover:rounded-full ml-[124px] mr-2 py-4"
        >
          <div class="info flex flex-row gap-3">
            <div class="info-pic">
              <img
                src="assets/shuvo.jpg"
                alt="LeemonDa"
                class="w-10 rounded-full hover:bg-gray-500 hover:opacity-80 transition-all duration-300"
              />
            </div>
            <div class="info-text leading-none space-y-[6px]">
              <h1 class="font-bold">Shuvo Sarkar</h1>
              <p class="text-gray-500">&#64;shuvosarkaroff</p>
            </div>
          </div>
          <div
            id="btn"
            class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300"
          >
            <i
              class="material-symbols-outlined text-xl text-gray-300 leading-none px-2"
              >more_horiz</i
            >
          </div>
        </div>
      </div>
    </div>
    <!-- End left -->

    <div class="middle w-full border border-x-gray-800 border-y-black">
      <div
        id="top-head"
        class="flex justify-around items-center text-center h-[52px]"
      >
        <div
          id="1st"
          class="cursor-pointer flex-1 hover:bg-gray-900 h-full flex items-center justify-center relative"
        >
          <div id="text" class="font-bold">For you</div>
          <div
            id="uline"
            class="absolute bottom-0 h-1 w-16 bg-[#1D9BF0] rounded-full"
          ></div>
        </div>
        <div
          id="2nd"
          class="cursor-pointer flex-1 hover:bg-gray-900 hover:font-bold h-full flex items-center justify-center relative"
        >
          <div id="text">Following</div>
          <!-- <div id="uline" class="absolute bottom-0 h-1 w-20 bg-[#1D9BF0] rounded-full"></div> -->
        </div>
        <div
          id="3rd"
          class="flex items-center justify-center hover:bg-gray-900 hover:rounded-full cursor-pointer w-[35px] h-[35px] m-2"
        >
          <span class="material-symbols-outlined text-xl">settings</span>
        </div>
      </div>

      <hr class="border-gray-800" />

      <div id="post-status" class="relative m-1">
        <div id="1st" class="flex">
          <div id="dp" class="m-3">
            <img
              src="assets/shuvo.jpg"
              alt="Shuvo DP"
              class="w-10 rounded-full"
            />
          </div>
          <div id="post-input" class="my-4">
            <input
              type="text"
              placeholder="What is happening?!"
              class="custom-placeholder bg-transparent outline-none border-none text-xl"
            />
          </div>
          <div
            id="privacy"
            class="absolute top-[68px] h-1 bottom-0 left-16 flex items-center space-x-1"
          >
            <span class="material-symbols-outlined text-base text-[#1D9BF0]"
              >globe</span
            >
            <span class="font-bold text-sm text-[#1D9BF0]"
              >Everyone can reply</span
            >
          </div>
        </div>

        <hr class="border-gray-800 mt-8 w-[86%] ml-14" />

        <div
          id="2nd"
          class="ml-[62px] mx-3 my-3 flex justify-between items-center"
        >
          <div id="post-options" class="text-[#1D9BF0] flex gap-x-4">
            <span class="material-symbols-outlined text-xl cursor-pointer"
              >imagesmode</span
            >
            <span class="material-symbols-outlined text-xl cursor-pointer"
              >gif_box</span
            >
            <span
              class="material-symbols-outlined text-xl cursor-pointer transform -scale-x-100"
              >event_list</span
            >
            <span class="material-symbols-outlined text-xl cursor-pointer"
              >sentiment_satisfied</span
            >
            <span class="material-symbols-outlined text-xl cursor-pointer"
              >calendar_clock</span
            >
            <span
              class="material-symbols-outlined text-xl text-[rgba(29,156,240,0.52)] cursor-default"
              >location_on</span
            >
          </div>
          <div id="post-btn">
            <button
              class="bg-[rgba(29,156,240,0.52)] transition-all duration-300 px-4 py-[6px] rounded-full text-base text-slate-200 text-opacity-40 font-bold"
            >
              Post
            </button>
          </div>
        </div>
      </div>

      <hr class="border-gray-800" />

      <!-- news feed starts here -->
      <div id="feed">
        <!-- Post-1 -->
        <div id="post" class="mx-4 mt-4 flex cursor-pointer">
          <div id="-left-pp">
            <img src="assets/n1.png" alt="Nothing logo" class="rounded-full w-32 hover:bg-gray-500 hover:opacity-80 transition-all duration-300" />
          </div>
          <div id="right-section" class="ml-2">
            <div id="ac-section" class="flex items-center justify-between">
              <div id="ac-info" class="flex items-center">
                <div id="ac-name" class="flex items-center space-x-[2px]">
                  <span id="name" class="font-bold hover:underline">Nothing</span>
                  <span id="badge">
                    <img src="assets/Badge.svg" alt="verification badge" class="w-4">
                  </span>
                </div>
                <div id="username-time" class="flex items-center space-x-1 ml-1 text-gray-500">
                  <span id="username">&#64;nothing</span>
                  <span id="time" class="hover:underline">· 6h</span>
                </div>
              </div>
              <div id="more">
                <a href="" class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">more_horiz</span>
                </a>
              </div>
            </div>
            <div id="caption" class="leading-5 mb-3">
              <p>Phone (2a) Special Edition. A story of colour. <br>
                At the very core of Nothing is transparency. This idea of distilling things down to their most basic, yet beautiful form. If we apply this notion to colour we are left with red, yellow and blue. The primary colours.</p>
            </div>
            <div id="images">
              <img src="assets/n2.jpeg" alt="Nohting 2a" class="rounded-[18px] border border-gray-800">
            </div>
            <div id="actions" class="flex justify-between my-1 text-gray-500">
              <div id="comment" class="flex items-center hover:text-blue-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">chat_bubble</span>
                </a>
                <span class="text-[13px]">52</span>
              </div>
              <div id="repost" class="flex items-center hover:text-green-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-[rgba(34,197,94,0.15)] transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-green-500 transition-all duration-300">cached</span>                  
                </a>
                <span class="text-[13px]">153</span>
              </div>
              <div id="like" class="flex items-center hover:text-red-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-[rgba(239,68,68,0.15)] transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-red-500 transition-all duration-300">favorite</span>                  
                </a>
                <span class="text-[13px]">2.3K</span>
              </div>
              <div id="view" class="flex items-center hover:text-blue-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">bar_chart_4_bars</span>                  
                </a>
                <span class="text-[13px]">98K</span>
              </div>
              <div id="bookmark-share" class="flex items-center">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">bookmark</span>                  
                </a>
                <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">upload</span>
              </div>
            </div>
          </div>
        </div>

        <hr class="border-gray-800" />
        <!-- Post-2 -->
        <div id="post" class="mx-4 mt-4 flex cursor-pointer">
          <div id="-left-pp">
            <img src="assets/b1.jpeg" alt="Nothing logo" class="rounded-full w-28 hover:bg-gray-500 hover:opacity-80 transition-all duration-300" />
          </div>
          <div id="right-section" class="ml-2">
            <div id="ac-section" class="flex items-center justify-between">
              <div id="ac-info" class="flex items-center">
                <div id="ac-name" class="flex items-center space-x-[2px]">
                  <span id="name" class="font-bold hover:underline">Nothing</span>
                  <span id="badge">
                    <img src="assets/Badge.svg" alt="verification badge" class="w-4">
                  </span>
                </div>
                <div id="username-time" class="flex items-center space-x-1 ml-1 text-gray-500">
                  <span id="username">&#64;nothing</span>
                  <span id="time" class="hover:underline">· 6h</span>
                </div>
              </div>
              <div id="more">
                <a href="" class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">more_horiz</span>
                </a>
              </div>
            </div>
            <div id="caption" class="leading-5 mb-3">
              <p>My upcoming memoir Source Code is all about the lessons and experiences that laid the foundation for everything in my life that followed.</p>
            </div>
            <div id="images">
              <img src="assets/b2.jpg" alt="Nohting 2a" class="rounded-[18px] border border-gray-800">
            </div>
            <div id="actions" class="flex justify-between my-1 text-gray-500">
              <div id="comment" class="flex items-center hover:text-blue-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">chat_bubble</span>
                </a>
                <span class="text-[13px]">23</span>
              </div>
              <div id="repost" class="flex items-center hover:text-green-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-[rgba(34,197,94,0.15)] transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-green-500 transition-all duration-300">cached</span>                  
                </a>
                <span class="text-[13px]">13</span>
              </div>
              <div id="like" class="flex items-center hover:text-red-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-[rgba(239,68,68,0.15)] transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-red-500 transition-all duration-300">favorite</span>                  
                </a>
                <span class="text-[13px]">1.1K</span>
              </div>
              <div id="view" class="flex items-center hover:text-blue-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">bar_chart_4_bars</span>                  
                </a>
                <span class="text-[13px]">9K</span>
              </div>
              <div id="bookmark-share" class="flex items-center">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">bookmark</span>                  
                </a>
                <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">upload</span>
              </div>
            </div>
          </div>
        </div>

        <hr class="border-gray-800" />
        <!-- Post-3 -->
        <div id="post" class="mx-4 mt-4 flex cursor-pointer">
          <div id="-left-pp">
            <img src="assets/e1.jpg" alt="Nothing logo" class="rounded-full w-24 hover:bg-gray-500 hover:opacity-80 transition-all duration-300" />
          </div>
          <div id="right-section" class="ml-2">
            <div id="ac-section" class="flex items-center justify-between">
              <div id="ac-info" class="flex items-center">
                <div id="ac-name" class="flex items-center space-x-[2px]">
                  <span id="name" class="font-bold hover:underline">Elvis Presley</span>
                  <span id="badge">
                    <img src="assets/Badge.svg" alt="verification badge" class="w-4">
                  </span>
                </div>
                <div id="username-time" class="flex items-center space-x-1 ml-1 text-gray-500">
                  <span id="username">&#64;nothing</span>
                  <span id="time" class="hover:underline">· 6h</span>
                </div>
              </div>
              <div id="more">
                <a href="" class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">more_horiz</span>
                </a>
              </div>
            </div>
            <div id="caption" class="leading-5 mb-3">
              <p>My upcoming memoir Source Code is all about the lessons and experiences that laid the foundation for everything in my life that followed.</p>
            </div>
            <div id="images">
              <div class="video-container mx-auto rounded-3xl">
                <iframe src="https://www.youtube.com/embed/vGJTaP6anOU?si=O_oxGP1NU9THS8X3" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div id="actions" class="flex justify-between my-1 text-gray-500">
              <div id="comment" class="flex items-center hover:text-blue-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">chat_bubble</span>
                </a>
                <span class="text-[13px]">23K</span>
              </div>
              <div id="repost" class="flex items-center hover:text-green-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-[rgba(34,197,94,0.15)] transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-green-500 transition-all duration-300">cached</span>                  
                </a>
                <span class="text-[13px]">138K</span>
              </div>
              <div id="like" class="flex items-center hover:text-red-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-[rgba(239,68,68,0.15)] transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-red-500 transition-all duration-300">favorite</span>                  
                </a>
                <span class="text-[13px]">3.6B</span>
              </div>
              <div id="view" class="flex items-center hover:text-blue-500 transition-all duration-300">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-lg text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">bar_chart_4_bars</span>                  
                </a>
                <span class="text-[13px]">99K</span>
              </div>
              <div id="bookmark-share" class="flex items-center">
                <a href="" class="flex items-center p-2 hover:rounded-full hover:bg-gray-900 transition-all duration-300">
                  <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">bookmark</span>                  
                </a>
                <span class="material-symbols-outlined text-xl text-gray-500 leading-none hover:text-blue-500 transition-all duration-300">upload</span>
              </div>
            </div>
          </div>
        </div>

        <hr class="border-gray-800" />

      </div>
    </div>
    <!-- End middle -->

    <div class="right w-full text-slate-200 hidden md:block">
      <div
        class="search mx-7 my-2 w-2/3 flex items-stretch bg-gray-900 py-2 rounded-full hover:bg-gray-800 transition-all duration-300"
      >
        <i class="material-symbols-outlined px-4 text-gray-600">search</i>
        <input
          type="text"
          placeholder="Search"
          class="border-none bg-transparent outline-none text-start placeholder-gray-600"
        />
      </div>

      <div
        class="subs-premium mx-7 my-4 w-2/3 px-5 py-3 rounded-2xl border border-gray-800"
      >
        <h1 class="text-xl font-bold">Subscribe to Premium</h1>
        <p class="my-2 leading-tight">
          Subscribe to unlock new features and if eligible, receive a share of
          ads revenue.
        </p>
        <div class="subs-btn">
          <button
            class="bg-[#1D9BF0] hover:bg-[#1A8CD8] transition-all duration-300 rounded-full font-bold px-5 py-2"
          >
            Subscribe
          </button>
        </div>
      </div>

      <div
        class="trends mx-7 my-4 w-2/3 px-5 py-3 rounded-2xl border border-gray-800 space-y-4"
      >
        <h1 class="text-xl font-bold">Trends for you</h1>

        <div class="trends-item flex justify-between cursor-pointer">
          <div class="trends-item-text space-y-[2px]">
            <div class="text-xs text-gray-500">Technology · Trending</div>
            <div class="font-bold">#ChatGPT</div>
            <div class="text-xs text-gray-500">3,546 posts</div>
          </div>
          <div class="more">
            <a
              href=""
              class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300"
            >
              <i
                class="material-symbols-outlined text-xl text-gray-300 leading-none hover:text-blue-500 transition-all duration-300"
                >more_horiz</i
              >
            </a>
          </div>
        </div>

        <div class="trends-item flex justify-between cursor-pointer">
          <div class="trends-item-text space-y-[2px]">
            <div class="text-xs text-gray-500">Trending in Bangladesh</div>
            <div class="font-bold">#ImperialFalcon</div>
            <div class="text-xs text-gray-500">201.6k posts</div>
          </div>
          <div class="more">
            <a
              href=""
              class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300"
            >
              <i
                class="material-symbols-outlined text-xl text-gray-300 leading-none hover:text-blue-500 transition-all duration-300"
                >more_horiz</i
              >
            </a>
          </div>
        </div>

        <div class="trends-item flex justify-between cursor-pointer">
          <div class="trends-item-text space-y-[2px]">
            <div class="text-xs text-gray-500">Sports · Trending</div>
            <div class="font-bold">#RCBvsCSK</div>
            <div class="text-xs text-gray-500">9,860 posts</div>
          </div>
          <div class="more">
            <a
              href=""
              class="flex items-center p-1 hover:rounded-full hover:bg-gray-900 transition-all duration-300"
            >
              <i
                class="material-symbols-outlined text-xl text-gray-300 leading-none hover:text-blue-500 transition-all duration-300"
                >more_horiz</i
              >
            </a>
          </div>
        </div>

        <div class="show pb-1">
          <a href="" class="text-blue-500 cursor-pointer">Show more</a>
        </div>
      </div>

      <div
        class="follow mx-7 my-4 w-2/3 px-5 py-3 rounded-2xl border border-gray-800 space-y-4"
      >
        <h1 class="text-xl font-bold">Who to follow</h1>

        <div
          class="follow-item flex items-start justify-between cursor-pointer"
        >
          <div class="info flex flex-row gap-2">
            <div class="info-pic">
              <img
                src="assets/leemonda.jpg"
                alt="LeemonDa"
                class="w-10 rounded-full hover:bg-gray-500 hover:opacity-80 transition-all duration-300"
              />
            </div>
            <div class="info-text leading-none space-y-[6px]">
              <h1 class="font-bold hover:underline">Leemon Chandra Prodeep</h1>
              <p class="text-gray-500">&#64;leemonchandra</p>
            </div>
          </div>
          <div class="btn">
            <button
              class="bg-slate-200 hover:bg-slate-300 text-gray-800 text-sm transition-all duration-300 rounded-full font-bold px-5 py-2"
            >
              Follow
            </button>
          </div>
        </div>
        <div
          class="follow-item flex items-start justify-between cursor-pointer"
        >
          <div class="info flex flex-row gap-2">
            <div class="info-pic">
              <img
                src="assets/shuvoda.jpg"
                alt="LeemonDa"
                class="w-10 rounded-full hover:bg-gray-500 hover:opacity-80 transition-all duration-300"
              />
            </div>
            <div class="info-text leading-none space-y-[6px]">
              <h1 class="font-bold hover:underline">Shuvo Ranjan Karmaker</h1>
              <p class="text-gray-500">&#64;srk</p>
            </div>
          </div>
          <div class="btn">
            <button
              class="bg-slate-200 hover:bg-slate-300 text-gray-800 text-sm transition-all duration-300 rounded-full font-bold px-5 py-2"
            >
              Follow
            </button>
          </div>
        </div>

        <div class="show pb-1">
          <a href="" class="text-blue-500 cursor-pointer">Show more</a>
        </div>
      </div>

      <div class="documentation mx-7 my-4 w-2/3 px-5 rounded-2xl">
        <div id="line-1" class="space-x-3">
          <a href="" class="text-xs text-gray-500 hover:underline"
            >Terms of Service</a
          >
          <a href="" class="text-xs text-gray-500 hover:underline"
            >Privacy Policy</a
          >
          <a href="" class="text-xs text-gray-500 hover:underline"
            >Cookie Policy</a
          >
        </div>
        <div id="line-1" class="space-x-3">
          <a href="" class="text-xs text-gray-500 hover:underline"
            >Accessibility</a
          >
          <a href="" class="text-xs text-gray-500 hover:underline">Ads info</a>
          <a href="" class="text-xs text-gray-500 hover:underline">More ···</a>
          <a href="" class="text-xs text-gray-500">© 2024 X Corp.</a>
        </div>
      </div>
    </div>
  </div>
</div>
